<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My App (CURD)</title>
    <link rel="stylesheet" href="{% static 'todoapp/css/lib/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'todoapp/css/style.css' %}">
</head>

<body>

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0.5 shadow justify-content-between">
        <a class="navbar-brand navbar-head col-md-3 col-lg-2  px-3" href="dashboard.html">MyTodo</a>


        <div class="dropdown dropdown-menu-end">
            <button type="button" class="btn btn-dark  dropdown-toggle  btn-align" data-bs-toggle="dropdown">
                {{ user.username }}
            </button>
            <ul class="dropdown-menu drop-content">
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-cog me-2"></i> Update profile
                    </a>
                </li>

                <hr class="my-1">
                <li>
                    <a class="dropdown-item" href="/logout">
                        <i class="fas fa-sign-out-alt me-2"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse overflow-auto">
            <div class="position-sticky pt-4">
                <ul class="nav flex-column">
                     <li class="nav-item">
                        <a class="nav-link  btn-toggle "  href="/create-task">
                            <i class="fas fa-file-word"></i>
                            Create Task
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link  btn-toggle "  href="/task-list">
                            <i class="fas fa-file-word"></i>
                            My Task
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
         <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <!--===========  start of Dashbord header  ==========-->

                {% block content %}{% endblock %}



            <!--===========  End of Dashbord header  ==========-->


        </main>

        </div>
    </div>






    <div class="container my-2">




    </div>



    <script src="{% static 'todoapp/js/lib/proper.min.js' %}"></script>
    <script src="{% static 'todoapp/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'todoapp/js/lib/font-awesome.5.15.4.min.js' %}"></script>
    <script src="{% static 'todoapp/js/lib/bootstrap.bundle.js' %}"></script>
</body>
</html>